<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h1 class="display-1">{{ title }}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h2 class="display-2">Project: {{projectName}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div  class="col-sm-6" *ngFor="let repo of repositoryList | async">
      <div  class={{repo.className}}  id={{repo.name}} >
        <h3 class="display-3" >{{repo.displayName}} <span class="badge badge-pill badge-{{repo.badgeName}}">{{repo.count}}</span></h3>
      </div>
    </div>
  </div>
</div>


